body{ background-image: url('https://images-ext-1.discordapp.net/external/LrhrzCmwhxu3iafax8x8qCT3owEdqFsJrHkqfj88X3o/https/i.pinimg.com/originals/4b/49/c0/4b49c0a113198a073a0289f9805ded26.jpg?width=1127&height=676');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}
